<?xml version="1.0"?>
<robot name="vehicle" xmlns:xacro="http://ros.org/wiki/xacro">
 
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://autonomous_vehicle_description/meshes/Base.stl"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0"  rpy="0 0 0"/>
            <geometry>
                <box size="0.53 0.10 0.01"/>
            </geometry>
        </collision>       
    </link>  
    <inertial>
        <mass value="3" />
        <inertia ixx="0.163866" ixy="-0.000150" ixz="0.000062" iyy="0.418963" iyz="0.000000" izz="0.582709" />
    </inertial>   
</robot>
